* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body.scroll {
    height: 100%;
    overflow: hidden;
}

.logo {
    flex: 2;
    text-align: left;
}

/*  /////////// HEADER   ///////////*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 20px 20px;
    background-color: rgb(72, 72, 163);
    position: sticky;
    top: 0;
    min-height: 100px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

header.scroll {
    background-color: white;
    color: rgb(14, 14, 41);

}

header.scroll a {
    color: rgb(14, 14, 41);
    font-weight: 700;
}

.navDiv nav ul,
li,
a {
    flex: 1;
    color: white;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    padding: 10px 10px;
    color: white;
}

/* responsive class  on menu bar is toggled by screen width  */
.responsive {
    background-color: white;
    min-width: 150px;
    color: rgb(14, 14, 41);
    border: 1px solid white;
    display: none;
}

#menuIcon {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
}

#menuIcon.scroll {
    color: rgb(14, 14, 41);
}


/* ///// MAIN CONTENT ///////    */

main {
    min-height: 500px;
}

#slidingMenu {
    background-color: white;
    min-width: 150px;
    color: rgb(14, 14, 41);
    border: 1px solid white;
    display: none;
}

h2 {
    padding-bottom: 1rem;
}

#first,
#third {
    background-color: rgb(72, 72, 163);
}

#second,
#contact {
    background-color: rgb(14, 14, 41);
}


.content {
    min-height: 40vh;
    padding-left: 20px;
    padding-top: 20px;
    scroll-margin-top: 7rem;
    /* affects where the page scrolls to*/
}

/* /////   MODAL    ///// */



.overlay.visible {
    /*class to obscure page background */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(14, 14, 41, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.5;
}

.modal.visible {
    position: relative;
    background-color: white;
    border-radius: 10px;
    height: 50vh;
    width: 50vw;
    color: black;
    padding: 2rem;


}

.overlay.visible .close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 2px 4px;
}

/*  DEFAULT DISPLAY for modal and overlay */
.overlay,
.modal,
.close {
    display: none;
}

footer {
    padding: 20px 20px;
    min-height: 100px;
    background-color: rgb(72, 72, 163);
    align-items: right;
}

#backToTop {
    padding: 5px 5px;
    display: none;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(72, 72, 163);
    display: none;
    color: white;
    font-size: 1.3rem;
    float: right;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#backToTop :hover {
    color: black;
}

/* SMALL SCREEN DISPLAY */

@media screen and (max-width: 800px) {
    .slidingMenu {
        display: none;
    }

    #menuIcon {
        display: block;
    }



    .navbar.responsive ul {
        /* note the difference in syntax (no space) when selecting an element's class, as opposed to an element within a class */
        display: block;
        position: absolute;
        left: 0;
        top: 85px;

    }

    .navDiv nav ul,
    li {
        display: none;
    }
}