* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 15px solid rgba(76, 143, 224, 0.5);
    border-bottom: 10px solid rgba(76, 143, 224, 0.5)
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.table-container {
    flex: 1;
}

table {
    flex: 50%;
    margin: 20px 20px;
    padding: 5px 5px;
    min-width: 300px;
}

button {
    margin: 5px 20px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgb(38, 88, 121);
    border: 1px solid rgb(108, 32, 32);
    color: white;
}

button:hover {
    border: 2px solid rgb(108, 32, 32);
    color: red;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
}

.database-container {
    flex: 2;
}

.database-container table {
    flex: 50%;
}

.database-container thead {
    background-color: rgb(38, 88, 121);
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}

.database-container th {
    padding: 5px 10px;
}

thead {
    background-color: grey;
}