* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
    padding-bottom: 1.5rem;
}

.panel {
    flex: 25%;
    background-color: rgb(225, 212, 212);
    opacity: 80%;
    height: 100%;
    width: 250px;
    box-shadow: 2px 2px 4px grey;
    border-radius: 4px;
}

.colorBox {
    height: 150px;
    width: 200px;
    border: 2px solid white;

}

.icon {
    font-family: 'Material Symbols Outlined';
    box-shadow: 2px 2px 4px grey;
    font-size: 3rem;
}


#example {
    flex: 75%;
}

.direction-container {
    display: grid;
    grid-template-columns: ;
}

.direction {
    display: none;
}