:root {
  --start-color1: #ff0000;
  --start-color2: #0000ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; /* note this! */
  background-image: linear-gradient(var(--start-color1), var(--start-color2));
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans";
}

main {
  padding: 1rem;
  display: flex;
}
.choose-panel {
  min-width: 150px;
  max-width: 300px;
  padding: 1rem;
  flex: 20vw;
  background: #dbdad9;
  opacity: 80%;
  box-shadow: 0 0 5px #2e3338;
  border-radius: 4px;
}

h1 {
  text-align: center;
  padding-bottom: 1.5rem;
}
.color-container {
  display: flex;
  justify-content: center;
}

.colors {
  margin: 1rem;
  opacity: 1;
  height: 70px;
  width: 100px;
  border: 2px solid white;
  border-radius: 7px;
}

.arrow-container {
  /*div */
  display: grid;
  max-width: 260px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;
  min-width: 140px;
  min-height: 140px;
}

/*technique for masking display of radio buttons from Mark Heath
  https://markheath.net/post/customize-radio-button-css
  */
.arrow-container input[type="radio"] {
  opacity: 0;
  width: 0;
  position: fixed;
}
.direction-icon {
  /*span for label*/
  font-family: "Material Symbols Outlined";
  font-weight: 800;
  font-size: 3rem;
  border-radius: 7px;
  text-align: center;
}

.direction-icon:hover {
  font-weight: 1200;
  transform: scale(1.1);
  box-shadow: 0 0 5px #2e3338;
}

.direction-icon:active {
  background-color: pink;
  box-shadow: 0 0 5px #2e3338;
}
