body {
  background-image: url("/assets/images/nao-takabayashi-gT3b5EwYAnQ-unsplash.jpg");
  background-size: cover;
  font-family: "Roboto Mono";
}

header {
  height: 220px;
  background: linear-gradient(to bottom, #220619, #ad3459, 50%, #220619);
  box-shadow: 3px 3px 3px #220619;
}

h1 {
  font-family: "Tourney";
  text-align: center;
  font-size: 4rem;
  line-height: 220px;
  color: green;
  text-shadow: 1px 1px 5px #80ff80;
}

h2 {
  color: red;
  text-transform: uppercase;
  text-align: center;

}

main {
  font-family: "Press Start 2P";
}

.score-container {
  font-family: "Press Start 2P";
  display: flex;
  justify-content: center;
}

#scoreDisplay {
  height: 30px;
  color: white;
}

.circle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.circle {
  padding: 2rem;
  background-image: url("assets/images/planet1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px;
  height: 100px;
  width: 100px;
  color: transparent;
}

.overlay,
.modal,
.close {
  display: none;
}

.overlay {
  display: none;
  background-color: gray;
  opacity: 0.5;
  height: 100%;
  overflow: hidden;
}


.overlay.visible {
  /*class to obscure page background */
  position: fixed;
  background: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 14, 41, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0.9;
}

.modal.visible {
  display: block;
  position: relative;
  background-color: white;
  border-radius: 10px;
  height: 50vh;
  width: 50vw;
  color: black;
  padding: 2rem;
  overflow: hidden;
}

.close.visible {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 2px 4px;
  color: black;
  border: none;
  font-weight: 900;
}

footer {
  min-height: 50px;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  color: green;
}

.button-container {
  display: flex;
  justify-content: center;
}

#startButton {
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: green;
  color: white;
}

#stopButton {
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: red;
  color: white;
}

.display-none {
  display: none;
}