body {
  background-image: url("./assets/images/nao-takabayashi-gT3b5EwYAnQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto Mono";
  margin: 0;
  padding-top: 0;
}

header {
  height: 170px;
  background: linear-gradient(to bottom, #220619, #ad3459, 50%, #220619);
  box-shadow: 3px 3px 3px #220619;
}

h1 {
  font-family: "Tourney";
  text-align: center;
  font-size: 4rem;
  line-height: 220px;
  color: green;
  text-shadow: 1px 1px 5px #80ff80;
}

h2 {
  color: red;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

main {
  font-family: "Press Start 2P";
}

.score-container {
  font-family: "Press Start 2P";
  display: flex;
  justify-content: center;
}

#scoreDisplay {
  height: 30px;
  color: white;
}

.side {
  flex: 1;
}

.circle-flex-container {
  display: flex;
}

.circle-container {
  display: flex;
  position: static;
  flex: 6;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.circle {
  position: relative;
  background-image: url("./assets/images/planet1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 12vw;
  width: 12vw;
}

.alien {
  border-radius: 50%;
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

.overlay,
.modal,
.close {
  display: none;
}

.overlay {
  display: none;
  background-color: gray;
  opacity: 0.5;
  height: 100%;
  overflow: hidden;
}

.overlay.visible {
  /*class to obscure page background */
  position: fixed;
  background: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 14, 41, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0.9;
}

.modal.visible {
  display: block;
  position: relative;
  background-color: white;
  border-radius: 10px;
  height: 50vh;
  width: 50vw;
  color: black;
  padding: 2rem;
  overflow: hidden;
}

.modal p {
  margin-top: 2rem;
}

.close.visible {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 2px 4px;
  color: black;
  border: none;
  font-weight: 900;
}

footer {
  min-height: 50px;
  padding-top: 2rem;
  color: white;
  text-align: center;
  font-size: 0.6rem;
}

footer a {
  text-decoration: none;
  color: green;
}

footer p {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: center;
}

.zoom-out {
  animation: zoom ease-out 0.5s 1;
}

button {
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: green;
  color: white;
  margin-top: 1rem;
  border: 2px solid black;
}

#startButton {
  background-color: green;
}

#stopButton {
  background-color: red;
  display: none;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}