@import url("https://fonts.googleapis.com/css2?family=Kanit");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgb(0, 251, 255), rgb(107, 107, 168));
}

header {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-family: Kanit;
  color: orange;
  text-shadow: 2px 2px yellow;
}

.button-container {
  padding: 1rem;
  display: grid;
  max-width: 900px;
  grid-template-rows: 1;
  grid-template-columns: repeat(8, 1fr);
  height: auto;
}

h3 {
  text-align: center;
  margin: 0.5rem, 1rem;
}
.gen {
  /* class for labels */
  background-color: rgb(101, 101, 200);
  height: 2rem;
  text-align: center;
  min-width: 5rem;
  border-radius: 7px;
  margin: 0.6rem;
  padding: 0.5rem;
  color: white;
  font-weight: 800;
}

.gen:hover {
  background-color: rgb(172, 126, 242);
  box-shadow: 1px 1px 3px black;
}

.selected {
  box-shadow: 2px 2px rgb(52, 13, 89);
  background-color: rgb(93, 1, 179);
}

.gen-radio {
  visibility: hidden;
}

#pokemon-number {
  flex: 1;
  font-size: 1.5rem;
  padding-top: 40px;
}

.search-container {
  margin: auto;
  text-align: center;
}

#search-term {
  flex: 1;
  width: 300px;
  border-radius: 8px;
  height: 40px;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  border: 2px solid rgb(93, 1, 179);
}

.typeIcon {
  height: 2rem;
  width: auto;
  display: inline-block;
}

.pokemon-container {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(5, 1fr);
  min-height: 50vh;
  min-width: 50vw;
  max-width: 1000px;
}

.card {
  background-color: white;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 6px black;
  height: 14rem;
  width: 10rem;
}

.card img {
  height: 7rem;
  width: auto;
  margin-bottom: 0;
}

.card p {
  font-size: auto;
  line-height: 16px;
  text-align: left;
  font-family: Kanit;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  height: 12rem;
  justify-content: center;
  align-items: center;
}

#nextSixty {
  height: 30px;
  width: 160px;
  padding: 0.5rem;
  border-radius: 7px;
  margin: 0.5rem;
}

#nextSixty:active {
  background-color: rgb(172, 126, 242);
  box-shadow: 1px 1px 3px black;
}

@media screen and (max-width: 700px) {
  body {
    max-width: 700px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-icon {
  }

  #display-number {
    text-align: center;
  }
  .gen {
    display: none;
  }

  .pokemon-container {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    /*flex: 50%;*/
    height: 40vh;
    width: 40vw;
  }
}
