* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body.scroll {
    height: 100%;
    overflow: hidden;
}

.logo {
    flex: 2;
    text-align: left;
}

/*  /////////// HEADER   ///////////*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 20px 20px;
    background-color: rgb(72, 72, 163);
    position: sticky;
    top: 0;
    min-height: 100px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

header.scroll {
    background-color: white;
    color: rgb(14, 14, 41);

}

header.scroll a {
    color: rgb(14, 14, 41);
    font-weight: 700;
}

/*navbar class for wider screens */


nav {
    border: solid 2px green
}

nav ul,
li,
a {
    flex: 1;
    color: white;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    padding: 10px 10px;
    color: white;

}

#menuIcon {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
}

#menuIcon.scroll {
    color: rgb(14, 14, 41);
}


/* ///// MAIN CONTENT ///////    */

main {
    min-height: 500px;
}

#doNotClick {
    margin-top: 1rem;
    border-radius: 14px;
    padding: 0.5rem;
    background-color: rgb(14, 14, 41);
    color: white;
    border: solid 1px white;
}

h2 {
    padding-bottom: 1rem;
}

#first,
#third {
    background-color: rgb(72, 72, 163);
}

#second,
#contact {
    background-color: rgb(14, 14, 41);
}


.content {
    min-height: 40vh;
    padding-left: 20px;
    padding-top: 20px;
    scroll-margin-top: 7rem;
    /* affects where the page scrolls to*/
}

/* /////   MODAL AND OVERLAY STYLING  ///// */

.overlay,
.modal,
.close {
    display: none;
}

.overlay.visible {
    /*class to obscure page background */
    position: fixed;
    background: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(14, 14, 41, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.8;
}

.modal.visible {
    display: block;
    position: relative;
    background-color: white;
    border-radius: 10px;
    height: 50vh;
    width: 50vw;
    color: black;
    padding: 2rem;
    opacity: 1;
    overflow: hidden;


}

.close.visible {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 2px 4px;
    color: black;
    border: none;
    font-weight: 900;
}



footer {
    padding: 20px 20px;
    min-height: 100px;
    background-color: rgb(72, 72, 163);
    align-items: right;
}

#backToTop {
    padding: 5px 5px;
    display: none;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(72, 72, 163);
    display: none;
    color: white;
    font-size: 1.3rem;
    float: right;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#backToTop :hover {
    color: black;
}

/* note the difference in syntax (no space) when selecting an element's class, as opposed to an element within a class */


/* SMALL SCREEN DISPLAY */

@media screen and (max-width: 800px) {

    #menuIcon {
        display: block;
    }

    .nav ul,
    li {
        display: none;
    }

    /* /* responsive class for navbar */


    nav.responsive ul li a {
        color: rgb(14, 14, 41);
        display: block;
        width: 100%;
    }
}