@import url("https://fonts.googleapis.com/css?family=Lato");

body {
    font-family: "Lato", Arial, Helvetica, sans-serif
}

main {

    background-color: rgba(123, 123, 220, 0.5);
    border-radius: 5px;
    padding-left: 40px;
    padding-bottom: 40px;

}


header {

    min-height: 100px;
}

h1 {
    text-align: center;
    color: rgb(123, 123, 220);
    font-style: italic;
    font-size: 4rem;

}

.logo {
    padding: 0 30px;
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 1;
}

.hero {
    width: 100%;
    min-height: 180px;
    background-image: url("./assets/images/towfiqu-barbhuiya-B3PxVCnbsSI-unsplash\ \(1\).jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}


.hero img {
    flex: 3;
    height: auto;
    width: auto;
}

form {
    padding: 20px 20px;
}

label {
    padding: 10px 10px;
}

input {
    border: 1px solid rgb(233, 223, 223);
    border-radius: 5px;
}


.results {
    background-color: rgb(224, 186, 215);
    animation: fadeIn 3s;
    color: rgba(48, 48, 110, 0.9);
    min-height: 150px;
    border: 2px solid rgba(48, 48, 110, 0.331);
    border-radius: 17px;
    padding: 5px 10px;
    margin: 0 40px;
}

input {
    border: 0px;
}

button {
    font-size: 1.5rem;
    border: 2px solid rgb(224, 186, 215);
    border-radius: 15px;
    margin: 50px 0;
    padding: 5px 20px;
    background-color: rgb(230, 222, 222);
}


/*rgba(123, 123, 220, 0.5) ; */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}